<div class="dialog-wrapper">
  <mat-dialog-content class="view-cert-content">
    <mat-card class="mat-elevation-z1 view-cert-card">
      <div class="dialog-header">
        <mat-card-title>Certificate Description</mat-card-title>
        <button mat-icon-button class="close-button" (click)="closeDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>

      <form class="cert-form">


        <div id="read-only-content">
          @if (pdf) {
            <iframe [src]="pdf" class="pdf-viewer"></iframe>
          } @else {
            <div class="no-pdf">No PDF available to display</div>
          }
        </div>
      </form>
    </mat-card>
  </mat-dialog-content>
</div>
