<div class="content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Request">
            <div id="controls">
                <div class="button-container">
                </div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #searchbox placeholder="Search keywords..." />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div id="print-section">
                <mat-card class="table-card">
                    <mat-card-content class="table-card-content">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 tp-table" matSort>
                            <ng-container matColumnDef="SpecificLearning">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Specific Learning
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.SpecificLearning }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="TargetDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Target Date
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.TargetDate }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Lastname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Last Name
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.Lastname }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Firstname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    First Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Firstname }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="MiddleName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Middle Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.MiddleName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Priority">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Priority
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.Priority }}</td>
                            </ng-container>

                            <ng-container matColumnDef="DivisionName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Division Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.DivisionName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="DivisionChief">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Division Chief
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.DivisionChief }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="CompetencyStatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Competency Status
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.CompetencyStatus }}</td>
                            </ng-container>

                            <ng-container matColumnDef="CreatedOn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Created On
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CreatedOn }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Competency">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Competency
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.Competency }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </mat-tab>

        <mat-tab label="ALDP">
            <div id="controls">
                <div class="button-container"></div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #searchbox placeholder="Search keywords..." />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div id="print-section">
                <mat-card class="table-card">
                    <mat-card-content class="table-card-content">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 tp-table" matSort>
                            <ng-container matColumnDef="Competency">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Competency
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Competency }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ProgramDescription">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Program Description
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.ProgramDescription }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Type
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.Type }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Classification">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Classification
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Classification }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="NoOfProgram">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    No. Of Program
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.NoOfProgram }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="PerSession">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Per Session
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.PerSession }}</td>
                            </ng-container>

                            <ng-container matColumnDef="TotalPax">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Total Pax
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.TotalPax }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="EstimatedCost">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                     Estimated Cost
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EstimatedCost }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Participants">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Participants
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.Participants }}</td>
                            </ng-container>

                            <ng-container matColumnDef="TrainingProgram">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Training Program
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.TrainingProgram }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="TrainingProvider">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Training Provider
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.TrainingProvider }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="TrainingDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Training Date
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.TrainingDate }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedAldpColumns" class="header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedAldpColumns"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-paginator class="paginator" [length]="total" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>
</div>