<div class="content">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Certificates">
            <div id="controls">

                <div class="button-container">

                </div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #searchbox placeholder="Search keywords...">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

            </div>
            <div id="print-section">

                <mat-card class="table-card">
                    <mat-card-content class="table-card-content">
                        <table mat-table [dataSource]="requestDataSource" class="mat-elevation-z1 tp-table" matSort>

                            <ng-container matColumnDef="programName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.programName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>

                            <ng-container matColumnDef="trainingprovider">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Training Provider </th>
                                <td mat-cell *matCellDef="let element"> {{element.trainingprovider}} </td>
                            </ng-container>


                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>


                            <ng-container matColumnDef="cert_status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.cert_status}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedRequestColumns" class="header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedRequestColumns;" class="row" (click)="viewRequestCertificate(row)"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>

            </div>

            <mat-paginator class="paginator" [pageSizeOptions]="[5,10,25,100]" aria-label="Select page">
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>
</div>
