<h2 matDialogTitle class="dialog-title">Add Self-initiated Certificate</h2>

<mat-dialog-content>
    <form class="form-container" [formGroup]="form">

        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Program</mat-label>
                <input formControlName="program" matInput placeholder="Please enter the program">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field full-width">
                <mat-label>Training Provider</mat-label>
                <input formControlName="provider" matInput placeholder="Please enter training provider">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Duration</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" formControlName="startDate">
                    <input matEndDate placeholder="End date" formControlName="endDate">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <div class="form-row">

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput placeholder="Please enter training provider website"></textarea>
            </mat-form-field>

        </div>

        <div class="form-row">
            <div class="upload-dropzone" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)" [class.dragover]="isDragOver">
                <mat-icon fontIcon="upload_file"></mat-icon>
                <p>Drop a file here or <a (click)="fileInput.click()">browse</a> your files</p>
                <input #fileInput type="file" hidden (change)="onFileSelected($event)" />
            </div>

            <div *ngIf="selectedFile" style="width: 100%;">
                <p style="text-align: center;"><strong>Selected File:</strong> {{ selectedFile.name }}</p>
            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onClose()" style="color: red;">Close</button>
    <button mat-fab extended (click)="onUpload()">Save</button>
</mat-dialog-actions>