.dialog-title {
  background-color: #27548A;
  color: white;
  margin-bottom: 2%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 5px;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.form-field {
  flex: 1;
  min-width: 200px;
}

.full-width {
  width: 100%;
}

.form-content {
  padding-top: 2% !important;
}
