<h2 matDialogTitle class="dialog-title">Add Self-initiated Certificate</h2>

<mat-dialog-content>
    <form class="form-container" [formGroup]="form">

        <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Document Type</mat-label>
                <mat-select placeholder="Please select document type">
                    @for (status of document; track document) {
                    <mat-option [value]="status.value">{{status.value}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Choose Upload Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-row">
            <div class="upload-dropzone" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)" [class.dragover]="isDragOver">
                <mat-icon fontIcon="upload_file"></mat-icon>
                <p>Drop a file here or <a (click)="fileInput.click()">browse</a> your files</p>
                <input #fileInput type="file" hidden (change)="onFileSelected($event)" />
            </div>

            <div *ngIf="selectedFile" style="width: 100%;">
                <p style="text-align: center;"><strong>Selected File:</strong> {{ selectedFile.name }}</p>
            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onClose()" style="color: red;">Close</button>
    <button mat-fab extended (click)="onClose()">Save</button>
</mat-dialog-actions>