<div class="content">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Scholarships">
            <div id="controls">
                <div class="button-container">
                    <button mat-fab extended (click)="applyScholarship()" [disabled]="!selectedRow">
                        <mat-icon>add_circle</mat-icon>
                        Apply Scholarship
                    </button>

                    <button style="background-color: #FB4141; color: white;" mat-fab extended (click)="applyScholarship()" [disabled]="!selectedRow">
                        <mat-icon>add_circle</mat-icon>
                        Defer Scholarship
                    </button>
                </div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #searchbox placeholder="Search keywords..." />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div id="print-section">
                <mat-card class="table-card">
                    <mat-card-content class="table-card-content">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 tp-table" matSort>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-radio-button [checked]="selectedRow === row"
                                        (change)="selectRow(row)"></mat-radio-button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="programName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Scholarship
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.programName }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Description
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.description }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)"
                                class="row"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </mat-tab>

        <mat-tab label="Scholarship Applications">
            <div id="controls">
                <div class="button-container"></div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #searchbox placeholder="Search keywords..." />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div id="print-section">
                <mat-card class="table-card">
                    <mat-card-content class="table-card-content">
                        <table mat-table [dataSource]="userApplicationDataSource" class="mat-elevation-z1 tp-table"
                            matSort>
                            <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef>Full Name</th>
                                <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
                            </ng-container>
                            <ng-container matColumnDef="sex">
                                <th mat-header-cell *matHeaderCellDef>Sex</th>
                                <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
                            </ng-container>
                            <ng-container matColumnDef="dateOfBirth">
                                <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
                                <td mat-cell *matCellDef="let element">{{ element.dateOfBirth }}</td>
                            </ng-container>
                            <ng-container matColumnDef="age">
                                <th mat-header-cell *matHeaderCellDef>Age</th>
                                <td mat-cell *matCellDef="let element">{{ element.age }}</td>
                            </ng-container>
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef>Position</th>
                                <td mat-cell *matCellDef="let element">{{ element.position }}</td>
                            </ng-container>
                            <ng-container matColumnDef="division">
                                <th mat-header-cell *matHeaderCellDef>Division</th>
                                <td mat-cell *matCellDef="let element">{{ element.division }}</td>
                            </ng-container>
                            <tr mat-header-row
                                *matHeaderRowDef="['fullName', 'sex', 'dateOfBirth', 'age', 'position', 'division']"
                                class="header"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: ['fullName', 'sex', 'dateOfBirth', 'age', 'position', 'division']"
                                (click)="viewAppliedScholarship(row)" class="row"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
            <mat-paginator class="paginator" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onPaginateChange($event)">
            </mat-paginator>
        </mat-tab>

        <mat-tab label="Registration Form & Gradess">
            <div id="controls">
                <div class="button-container">
                    <button mat-fab extended (click)="uploadDocument()">
                        <mat-icon>add_circle</mat-icon>
                        Upload Document
                    </button>
                </div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" #searchbox placeholder="Search keywords..." />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div id="print-section">
                <mat-card class="table-card">
                    <mat-card-content class="table-card-content">
                        <table mat-table [dataSource]="documentsDataSource" class="mat-elevation-z1 tp-table" matSort>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef>Document Type</th>
                                <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>Uploaded Date</th>
                                <td mat-cell *matCellDef="let element">{{ element.date }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedDocuments" class="header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedDocuments"
                                (click)="viewAppliedScholarship(row)" class="row"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-paginator class="paginator" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="onPaginateChange($event)">
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>
</div>