<div class="content">

    <div id="controls">

        <div class="button-container">
            <button mat-fab extended (click)="add()"><mat-icon>add_circle</mat-icon>
                Add Certificate
            </button>

        </div>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Search</mat-label>
            <input matInput type="text" #searchbox placeholder="Search keywords...">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    </div>
    <div id="print-section">

        <mat-card class="table-card">
            <mat-card-content class="table-card-content">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 tp-table" matSort>

                    <ng-container matColumnDef="programName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.programName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="filename">
                        <th mat-header-cell *matHeaderCellDef> File Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="trainingprovider">
                        <th mat-header-cell *matHeaderCellDef> Training Provider </th>
                        <td mat-cell *matCellDef="let element"> {{element.trainingprovider}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef> Start Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'MMM d, y' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef> End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'MMM d, y' }} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="cert_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <span [ngClass]="getStatusClass(element.cert_status)">
                                {{ element.cert_status }}
                            </span>
                        </td>
                    </ng-container>


                    <!-- Header and Row Declarations -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" (click)="viewCertificate(row)"></tr>
                </table>
            </mat-card-content>
        </mat-card>

    </div>

    <mat-paginator class="paginator" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="pageNo - 1" (page)="onPaginateChange($event)" aria-label="Select page">
    </mat-paginator>
</div>